<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/folderStyles.css">
    <title><%= folderName %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
</head>
<body>
    <a href="https://fmwotjsndaswznclcyyx.supabase.co/storage/v1/object/public/files/uploads/1/1736697185073/TBLlogo.png" target="_blank" download>DOWNLOAD ME</a>
    <h2><%= folderName %></h2>
    <%- include('nav', {url : url}) %>
    <div class="fileUploadContainer">
        <h4 class="fileUpload">Upload a File:</h4>
        <form id="fileUploadForm" action="/fileupload" enctype="multipart/form-data" method="post">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="File Name" name="fileName" id="fileName">
              <%- include('formError', {selector: 'fileName', errors: errors}) %>
              <input type="file" class="form-control-file" name="uploaded_file" id="uploaded_file">
              <%- include('formError', {selector: 'file', errors: errors}) %>
              <input type="hidden" name="folderId" value="<%= folderId %>"> <!-- Hidden input for folderId -->
              <input type="submit" value="Save File" class="btn btn-default">
              <p class="error fileUpError" id="fileUpError" style="display: none;">Please Add a File Name and Attach a File</p>
             
            </div>
        </form>
    </div>

    <div class="fileCabinet">
        <% for(let i = 0; i < files.length; i++) { %>
            <div class="file">
                <div class="leftContent">
                    <p class="fileInnerName"><%= files[i].filename %></p>
                    <p class="fileInnerSize"><%= files[i].size %></p>
                    <p class="fileInnerUpDate"><%= new Date(files[i].createdAt).toLocaleString() %></p>
                </div>
                <div class="rightContent">
                    
                    <div class="downloadContainer">
                        <a data-file-link="<%= files[i].content %>" href="<%= files[i].content %>" class="downloadButton" data-file-name="<%= files[i].filename %>" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m720-120 160-160-56-56-64 64v-167h-80v167l-64-64-56 56 160 160ZM560 0v-80h320V0H560ZM240-160q-33 0-56.5-23.5T160-240v-560q0-33 23.5-56.5T240-880h280l240 240v121h-80v-81H480v-200H240v560h240v80H240Zm0-80v-560 560Z"/></svg>
                        </a>
                    </div>
                    <div class="deleteContainer">
                        <button class="deleteFileButton svgButton" data-file-id="<%= files[i].id %>">
                            <svg class="deletesvg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m376-300 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 180q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520Zm-400 0v520-520Z"/></svg>
                        </button>
                        <div class="confirmDelete" style="display: none;">
                            <p>Are you sure?</p>
                            <button class="confirmYes" data-file-id="<%= files[i].id %>">Yes</button>
                            <button class="confirmCancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <script type="module" src="/js/folderScripts.js"></script>
</body>
</html>